form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}


div {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    margin-left: 15%;
    margin-right: 25%;
}

input{
    width: 150px;
}