p {
    text-align: center;
    font-size: 15px;
    color: red;
}

.paragraf {
    color: blue;
    font-style: italic;
}

img {
    width: 200px;
    height: 200px;
    /* centriranje slike */
    margin-left: auto;
    margin-right: auto;
    display: block;
}