/*svaki parni paragraf*/
/*stilove dodeliti preko klasa, li ovo je zbog vezbe
radi lakseg razuevanja kasnije u JS*/

/*.parni*/
p:nth-of-type(2), p:nth-of-type(4){
    color: red;
    background: blue;

}
/*.neparni*/
p {
    color: blue;
    background: yellow;
}

#peti{
    color: green;
    background: white;
}