img {
    width: 150px;
    height: 150px;
    border: black solid 1px;
    padding: 15px;
}

.levo{
    float: left;
    margin-right: 20px;
}

.desno {
    float: right;
    margin-left: 20px;
}

.cisto{
    clear: both;
}

.cistoDesno{
    clear: right;
}